@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    font-family: "Fredoka";
}

.heading-border {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .btn-gradient-1 {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #1E58FC, #D914E4, #F10419) 1;
    border-radius: 20px;
  }